@charset "utf-8";
/* tablet */
/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {background-color: yellow; margin: 0; }
h1, ul, li, p, dl, dt, dd {margin: 0; padding:0;}
img{ margin:0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; margin: 0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.pc {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}

/* common */
body {font-family: 'NotoSansKR', sans-serif; font-size: 14px; color: #000000; background-color: #ffffff;}
#wrapper {max-width: 1023.9px; overflow: hidden; position: relative; margin: 0 auto;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0,0,0,0.8); color : #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;} 
#skip-nav:focus {top: 0;}

/* 틀 */
section > div.content-box {width: 100%;  margin: 0 auto; padding: 0 30px; box-sizing: border-box;}
div.content-box > div.title {}
div.content-box  div.title  h3 {font-size: 42px; margin-bottom: 5.04px; letter-spacing: -2px;}
div.content-box  div.title  p {font-size: 16px; color: #7d7d7d; font-weight: 700; letter-spacing: -1px;}
div.content-box > div.banner-slide  > a.btn.white {position: absolute; right: 10px; top: -65px;}

/* 슬라이드 */
div.content-box > div.banner-slide {position: relative; padding: 50px 0; } 
div.content-box > div.banner-slide > div.box {width: 100%;  overflow: hidden; margin: -10px; padding: 10px;}
div.content-box > div.banner-slide ul.slide {width: 3000px;}
div.content-box > div.banner-slide ul.slide::after {content:''; display: block; clear: both;}
div.content-box > div.banner-slide ul.slide > li{float: left;  text-align: center; padding-bottom: 20px;  overflow: hidden; transition: all 0.7s; position: relative; box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.05); box-sizing: border-box; transform:perspective(500px) rotate(.001deg); border-color: #ebebeb;} 
div.content-box > div.banner-slide  ul.slide > li + li {}
div.content-box > div.banner-slide ul.slide > li div.image {width: 100%; overflow: hidden;  position: relative;}
div.content-box > div.banner-slide ul.slide > li > div.image > a {display: block; width: 100%; height: 100%;;}
div.content-box > div.banner-slide ul.slide > li > div.image > a > img {height: 100%; transition: 0.5s;}

/* common:button */
a.btn.white {display: block; margin: 0 auto; background-color: #fff; overflow: hidden; position: relative; z-index: 3; text-align: center; border-radius: 50px; font-size: 14px; font-weight: 700; width: 194px; height: 65px;line-height: 65px; letter-spacing: 0.05em; box-shadow: 0 0 40px 0 rgb(0 0 0 / 5%);}
a.btn.white::before {content:''; display: block; background-color: #fff; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1;}
a.btn.white::after {content:'' ; display: block; background-color: #1e2432; width: 350px;height: 350px; border-radius: 50%; position: absolute; top: -100px;left: 50%; margin-left: -175px; z-index: -1; transform: scale(0); transition: 0.7s;}
a.btn.white:hover {color: #fff;}
a.btn.white:hover::after {transform: scale(1);}
a.btn.gray {display: inline-block; padding: 12px 0; text-align: center; min-width: 200px; height: 45px; background-color: #f8f8f8; line-height: 23px; font-size: 14px; font-weight: 700; border-radius: 100px; box-sizing: border-box; transition: all 0.5s;}
a.btn.gray:hover {background-color: #1E2432; color: #f8f8f8;}
a.btn.graymini {display: block; border-radius: 40px; background-color: #f8f8f8; color: #1e2432; font-size: 0.9vw; font-weight: 700; width: 8vw; line-height: 2.5vw; }
a.btn.graymini:hover {background-color: #1e2432; color: #f8f8f8;}

a.btn-gray {background-color: #f8f8f8; color: #1E2432; display: block; width: 8vw; height: 2.5vw; position: relative; left: 50%; transform: translate(-50%, 0);  border-radius: 50px; line-height: 2.5vw; font-size: 0.7vw; font-weight: 700; transition: all 0.3s;}
a.btn-gray:hover {background-color: #1E2432; color: #fff;}
a.scrolltop {display: block; width: 60px; height: 60px; border: 1px solid #AFAFAF; box-sizing: border-box; text-align: center; font-size: 30px; color: #7d7d7d; line-height: 45px; position: fixed; bottom: 50px; right: 50px; background-color: #fff; opacity: 0.4;}

/* header */
#header {position: fixed; left: 0; top: 0; width: 100%; height: 86px; z-index: 100000; background-color: transparent; text-align: center; padding: 0 30px; box-sizing: border-box;}
#header::after {content:''; position: absolute; left: 0; top: 100%; width: 100%; height: 0px; background-color: #fff;  transition: height 0.3s; border-radius: 0 0 50px 0; z-index: -1; }
#header.on >  div.content-box > #gnb > ul > li > a,
#header.open > div.content-box > #gnb > ul > li > a {color: #333;}
#header.on,
#header.open {background-color: #fff; }

#header.open::after {height: 286px; border-top: 1px solid #f8f8f8;}
#header > div.content-box {width: 100%; height: 100%;  position: relative; box-sizing: border-box; margin: 0 auto;}
#header > div.content-box > h1 {position: absolute; left: 0; top:0; height: 100%;}
#header > div.content-box > h1 > a {display: block;}
#header > div.content-box > h1 > a > span.white-logo {position: absolute; left: 0; top: 0; opacity: 0; transition: opacity 0.3s; }
#header.on > div.content-box > h1 > a > span.white-logo,
#header.open > div.content-box > h1 > a > span.white-logo {opacity: 1;}
#header > div.content-box > h1 > a img {margin-top: 20px; max-width: 115px;}
#header > div.content-box > #gnb {display: none;}
#header div.language-box {display: none;}
#header div.nav-hamburger {height: 100%;  position: absolute; right: 0; top: 0;}
#header div.nav-hamburger > a {display: inline-block; width: 50px; height: 60px; line-height: 86px; position: relative; top: 12px; }
#header div.nav-hamburger > a > span::before,
#header div.nav-hamburger > a > span::after {content: '';}
#header div.nav-hamburger > a > span::before,
#header div.nav-hamburger > a > span::after,
#header div.nav-hamburger > a > span {display: inline-block; width: 35px; height: 3px; background-color: #fff; position: absolute; right: 0;}
#header div.nav-hamburger > a > span {top: 50%; transform: translate(0, -50%);}
#header div.nav-hamburger > a > span::after {top: -10px;}
#header div.nav-hamburger > a > span::before {bottom: -10px;}

/* main */
#main-visual {width: 100%;  margin: 0 auto;  position: relative;}
#main-visual > div.container-box {width: 100%; position: relative; box-sizing: content-box;  overflow: hidden;}
#main-visual > div.container-box::before {content: ''; display: block; width: 100%; height: 120%; background-color: #23afe3; z-index: 35; position: absolute; left: 50%; top: -10%; border-radius: 100%; transform: scaleX(0); -webkit-transition: all 0.5s ease-in-out;}
#main-visual > div.container-box::after {content: ''; display: block; width: 100%; height: 120%; background-color: #1e2432; z-index: 35; position: absolute; left: auto; right: 50%; top: -10%; border-radius: 100%; transform: scaleX(0); -webkit-transition: all 0.5s ease-in-out; }
#main-visual > div.container-box >  div.slide-inner {position: relative;}
#main-visual > div.container-box >  div.slide-inner > p.dummy {}
#main-visual > div.container-box >  div.slide-inner > p.dummy > img {opacity: 0; width: 100%;display: block; }
#main-visual > div.container-box >  div.slide-inner > ul.slide-layers {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}

#main-visual > div.container-box >  div.slide-inner > ul.slide-layers > li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
#main-visual > div.container-box >  div.slide-inner > ul.slide-layers > li img {width: 100%;}
#main-visual > div.container-box >  div.slide-inner > ul.slide-layers > li.on {display: block;}
#main-visual > div.container-box >  div.slide-inner > ul.slide-layers > li.show {animation: show-slide 1s ease 0s 1 normal forwards; display: block;}
#main-visual > div.container-box >  div.slide-inner > ul.slide-layers > li.hide {animation: hide-slide 1s ease 0s 1 normal forwards; display: block;}


@keyframes show-slide {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes hide-slide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

#main-visual > div.container-box >  div.slide-inner > ul.slide-layers > li.on {display: block;} 
#main-visual > div.container-box >  div.slide-inner >  ul.slide-layers > li > img {width: 100%;}

#main-visual > div.container-box > a.prev,
#main-visual > div.container-box  > a.next {display: block; position: absolute; right: 33px; top: 50%; transform: translateY(-50%); width: 46px; height: 46px; border-radius: 100%; border: 1px solid rgba(255, 255, 255, 0.3); background: url(../img/icon_slide_next_w.png) center no-repeat; background-size: 7px; z-index: 100;}

#main-visual > div.container-box > a.prev {visibility: visible; background: url(../img/icon_slide_prev_w.png) center no-repeat; background-size: 7px; left: 33px;}
#main-visual > div.container-box > a:hover {border-color: #fff;}
#main-visual > div.container-box > a.prev:hover::after {transform: translateX(20px);}
#main-visual > div.container-box > a.next:hover::after {transform: translateX(-20px);}
#main-visual > div.container-box.arrow-on-r:before{transform:scaleX(0);}
#main-visual > div.container-box.arrow-go-r:before{transform:scaleX(0.25);}
#main-visual > div.container-box.arrow-on-l:after{transform:scaleX(0);}
#main-visual > div.container-box.arrow-go-l:after{transform:scaleX(0.25); }
#main-visual > div.container-box > ul.indicator {position: absolute; left: 29.5%; bottom: 33%; display: block;  overflow: hidden;}
#main-visual > div.container-box > ul.indicator > li {float: left; margin: 0 10px;}
#main-visual > div.container-box > ul.indicator > li.on > a {opacity: 1; background-color: #fece00;}
#main-visual > div.container-box > ul.indicator > li > a {display: block; width: 8px; height: 8px; border-radius: 500px; background-color: #fff; opacity: 0.5;}
 p.txt-ani > b {display: block; overflow: hidden; line-height: 1.1; 
margin: 0 0 0.2em;}
#main-visual > div.main-text {position: absolute; left: 50%; transform: translateX(-50%); top: 27.8%;}
#main-visual > div.main-text > p.small-txt {color: #fff; letter-spacing: 0;}
#main-visual > div.main-text > p.small-txt .slide-bar {width: 64px; height: 1px; background-color: #fff; display: inline-block; vertical-align: middle; margin: -7px 0 0 25px; overflow: hidden; text-indent: -999px;}
#main-visual > div.main-text p.big-txt {font-size: 40px; font-weight: 800; line-height: 1.2; color: #fff; margin: 0.4em 0;}
#main-visual > div.main-text p.big-txt > b {}
#main-visual > div.main-text p.big-txt > b * {display: block;}
#main-visual > div.main-text.active p.big-txt > b * {animation: text-show 1s ease 0s 1 normal forwards; }
@keyframes text-show {
  from {
    transform: translateY(140%) rotate(5deg);
  }
  to {
    transform: translateY(0) rotate(0);
  }
}

#main-visual > ul.sns {position: absolute; left: 33px; bottom: 18px; z-index: 50;}
#main-visual > ul.sns > li {float: left;}
#main-visual > ul.sns > li + li {margin-left: 8px;}
#main-visual > ul.sns > li > a {display: block; margin-top: 10px; position: relative;}
#main-visual > ul.sns > li > a::after {content:''; width: 100%; height: 100%; background-color: #fece00; position: absolute; left: 0; top: 0; transition: 0.3s; opacity: 0; transform: scale(0.7); border-radius: 100px;}
#main-visual > ul.sns > li > a:hover::after {opacity: 0.2; transform: scale(1);}
#main-visual > ul.sns > li > a > img {width: 46px; position: relative; }

/* spc group */
#spc-group {background-color: #fff; padding: 110px 0; overflow: hidden;}
#spc-group > div.content-box > div.banner-slide {}
/* 슬라이드 */
#spc-group > div.content-box > div.banner-slide > div.box {position: relative;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide {width: 5000px; margin-top: 30px;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide::after {content:''; display: block; clear: both;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li {float: left; width: 29vw; height: 42vw; background-color: #fff; box-sizing: border-box; box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05); border-radius: 30px; position: relative;  transition: all 0.4s; text-align-last: left; padding-bottom: 0; overflow: hidden;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li + li { margin-left: 2.2vw;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.first {width: 100%; height: 100%; position: relative;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.first > a {display: block;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.first > a > p {}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.first > a > p > img {position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); width: 28vw;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.second {position: absolute;  width: 100%; height: 100%; top: 0; left: 0; transition: all 0.5s; opacity: 0; }
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li:hover > div.first {}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li:hover > div.second {transform: scale(1.3); opacity: 1;} 
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.second img {position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); opacity: 1;} 
#spc-group div.content-box > div.banner-slide ul.slide > li p.title {color: #23AFE3; font-size: 15px; padding: 25px; font-weight: 700;}
#spc-group div.content-box > div.banner-slide ul.slide > li p.text { position: absolute; left: 0; bottom: 2vw; width: 100%; height: 11vw; box-sizing: border-box; padding: 2.8vw;  font-size: 15px;font-weight: 700; line-height: 1.5; color: #333;} 
#spc-group div.content-box > div.banner-slide ul.slide > li:nth-child(1) p.text {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* spc-brand */
#spc-brand {padding: 110px 0; background-color: #f8f8f8;}
#spc-brand > div.content-box {position: relative;}
#spc-brand div.content-box > ul.indicator {margin-top: 30px;}
#spc-brand div.content-box > ul.indicator::after {content: ''; display: block; clear: both;}
#spc-brand ul.indicator > li {float:left; box-sizing: border-box; width: 25%;}
#spc-brand ul.indicator > li:hover img {opacity: 1;}
#spc-brand ul.indicator > li:hover > a {color: #000;}
#spc-brand ul.indicator > li.on > a {border-color: #333; color: #333;}
#spc-brand ul.indicator > li.on img {opacity: 1;}
#spc-brand ul.indicator > li a {font-size: 15px; font-weight: 700; border-bottom: 2px solid #d1d1d1; color: #afafaf;min-width: 100%; text-align: center; transition: 0.4s; display: inline-block; padding: 10px; box-sizing: border-box;}
#spc-brand ul.indicator > li img {display: block; width: 34px; margin: 0 auto 10px; opacity: 0.3; transition: 0.4s;}
#spc-brand ul.indicator > li em {}


/* 여기서부터 */
#spc-brand div.brand-list {padding: 70px 0; width: 100%;  overflow: hidden;}
#spc-brand div.brand-list ul.sub {position: relative; width: 5000px; box-sizing: border-box; display: none;}
#spc-brand div.brand-list ul.sub::after {content: ''; display: block; clear: both;}
#spc-brand div.brand-list ul.sub.on {display: block; animation: show-slide 1s ease 0s 1 normal forwards;}
#spc-brand div.brand-list ul.sub > li {float: left; position: relative; width: 21vw; height: 21vw; border-radius: 500px; background-color: #fff;  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.01); box-sizing: border-box; transition: all 0.7s;}
#spc-brand div.brand-list ul.sub > li + li {margin-left: 2.5vw;}
#spc-brand div.brand-list li:last-child {margin-right: 0;}
#spc-brand div.brand-list li div.logo {position: absolute; top: 0; right: 50%; width: 100%; height: 100%; transform: translateX(50%); transition: 0.4s; z-index: 3;}
#spc-brand div.brand-list li div.logo a {display: block; width: 100%; height: 100%;}
#spc-brand div.brand-list li div.logo img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%;}
#spc-brand div.brand-list li:hover .logo {width: 45%; height: 45%;}
#spc-brand div.brand-list li div.text {background: inherit; position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; color: #000; font-size: 1.2vw; border-radius: 50%; opacity: 0; transition: 0.5s; box-sizing: border-box; padding: 8.5vw 1vw;}
#spc-brand div.brand-list li:hover div.text {opacity: 1; border-radius: 30px;}
#spc-brand div.brand-list > ul.sub > li {}
#spc-brand div.brand-list > ul.sub > li > div.text em {font-size: 1.4vw; font-weight: 700; display: block;}
#spc-brand div.brand-list > ul.sub > li > div.text em::after {content: '-'; display: block;}
#spc-brand div.brand-list > ul.sub > li > div.text p {}
#spc-brand > div.content-box > p {text-align: center;}

/* ad */
#spc-ad {margin-top: 40px; padding: 0 50px;}
#spc-ad img {transition: all 0.7s; width: 100%;}


/* spc-happy */
#spc-happy {padding: 70px 0;}
#spc-happy > div.content-box {position: relative;}
#spc-happy div.content-box > div.banner-slide > div.box {} 
#spc-happy div.content-box > div.banner-slide ul.slide {padding-bottom: 10px;}
#spc-happy div.content-box > div.banner-slide ul.slide > li{width: 29vw; height: 40vw;  border-radius: 25px; box-sizing: border-box;} 
#spc-happy div.content-box > div.banner-slide  ul.slide > li + li {margin-left: 1.8vw;}
#spc-happy div.content-box > div.banner-slide ul.slide > li div.image {height: 26vw;}
#spc-happy div.content-box > div.banner-slide ul.slide > li div.image img {width: 100%; height: auto;}
#spc-happy div.content-box > div.banner-slide ul.slide > li div.text {height: 14vw; background-color: #ffffff; padding: 20px 20px 10px 20px; text-align: center; box-sizing: border-box; position: relative;}
#spc-happy div.content-box > div.banner-slide ul.slide > li div.text em {font-size: 2vw; font-weight: 700; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#spc-happy div.content-box p.control > a {font-size: 20px; color: #ebebeb;}
#spc-happy div.content-box p.control > a.next {position: absolute; top:50% ;right: -50px;}
#spc-happy div.content-box p.control > a.prev {position: absolute; left: -50px; top: 50%;}
#spc-happy  div.banner-slide  a.btn-gray  {width: 100%; height: 4vw; line-height: 4vw;  font-size: 0.7vw; font-weight: 700; transition: all 0.3s;}
/* #spc-happy  div.banner-slide  a.btn-gray {background-color: #f8f8f8; color: #1E2432; display: block; width: 100%; height: 4vw; position: relative; left: 50%; transform: translate(-50%, 0);  border-radius: 50px; line-height: 4vw; font-size: 0.7vw; font-weight: 700; transition: all 0.3s; top: -1.5vw;} */

/* spc-news */
#spc-news {background-color: #d1ebfa; padding: 85px 0 90px;  position: relative; overflow: hidden;}
#spc-news div.content-box {position: relative;}
#spc-news div.content-box::before {content: ''; background: #fff0c3; border-radius: 50%; position: absolute; top: -90%; right: -35%; width: 500px; height: 500px;}
#spc-news div.content-box > div.banner-slide {padding: 70px 0;}
#spc-news div.content-box > div.banner-slide  ul.slide > li {width: 28vw; height: 33vw; box-sizing: border-box;  border-radius: 15px;  background-color: #ffffff; } 
#spc-news div.content-box > div.banner-slide  ul.slide > li + li {margin-left: 3vw;}
#spc-news div.content-box > div.banner-slide  ul.slide > li div.image {height: 18vw;}
#spc-news div.content-box > div.banner-slide ul.slide > li div.text {padding: 15px 25px 10px; text-align: left; position: relative; box-sizing: border-box;}
#spc-news div.content-box > div.banner-slide ul.slide > li div.text em {font-size: 2.0vw; font-weight: 700;  text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%; display: inline-block; margin-bottom: 0.3vw;}
#spc-news div.content-box > div.banner-slide ul.slide > li div.text p.date {font-size: 1.4vw; font-weight: 700; color: #7d7d7d; margin-bottom: 1vw;}
#spc-news div.content-box > div.banner-slide ul.slide > li div.text a.btn.graymini {margin: 15px 0 0; font-size: 1.4vw; letter-spacing: 1.0px; width: 70%; padding: 16px 0; line-height: 8px; box-sizing: border-box; text-align: center;} 
#spc-news div.content-box > p.control {position: absolute; right: 300px;top: 33px;}
#spc-news div.content-box > p.control > a {display: block; width: 65px; height: 65px; background-color: #fff; border-radius: 50%; text-align: center; line-height: 55px; font-size: 25px; float: left; position: relative; transition: all 0.4s;}
#spc-news div.content-box > p.control > a + a {margin-left: 30px;}
#spc-news div.content-box > p.control > a::before {content: ''; width: 97px; height: 97px; background-color: #fece00; position: absolute; left: 50%; top: 50%; margin: -49px 0 0 -49px; border-radius: 50%; transform: scale(0); transition: all 0.4s; opacity: 0.2;} 
#spc-news div.content-box > p.control > a:hover::before {transform: scale(1);}
#spc-news div.content-box > p.control > a:hover {background-color: #fece00; color: #fff;}
#spc-news div.content-box > p.control > a i {position: relative; vertical-align: middle; display: inline-block;}

/* spc-magazine */
#spc-magazine {padding: 110px 0 160px;}
#spc-magazine > div.content-box {}
#spc-magazine > div.content-box > div.banner-slide {position: relative;}
#spc-magazine > div.content-box > div.banner-slide > div.box > ul.slide {width: 100%;}
#spc-magazine > div.content-box > div.banner-slide > div.box > ul.slide::after {content: ''; display: block; clear: both; }
#spc-magazine > div.content-box > div.banner-slide > div.box > ul.slide > li {float: left; width: 48%; margin-bottom: 35px;}
#spc-magazine > div.content-box > div.banner-slide  ul.slide > li + li:before {
content: ''; width: 1px; height: 100%; background: #eaeaea; position: absolute;
top: 0; left: -9.5%;}
#spc-magazine > div.content-box > div.banner-slide > div.box > ul.slide > li:nth-child(2n) {margin-left: 4%;} 
#spc-magazine > div.content-box > div.banner-slide  ul.slide > li > a {display: block;}
#spc-magazine > div.content-box > div.banner-slide ul.slide > li img {max-width: 100%; padding-bottom: 15px;}
#spc-magazine > div.content-box > div.banner-slide  ul.slide > li span {font-size: 14px; font-weight: 700; color: #7d7d7d; display: block; text-align: left;}

/* spc-youtube */
#spc-youtube {position: relative; box-sizing: border-box;}
#spc-youtube::before {content: ''; width: 40.3%; height: 100%; border-radius: 0 0 50px 0; background-color: #fff0c3; position: absolute;top: 0;left: 0; z-index: -1;}
#spc-youtube::after {content: ''; width: 480px; height: 170px; background: url(/img/main03_bg.png) center no-repeat; background-size: 100%; position: absolute;top: -35px; right: -65px; z-index: -1;}
#spc-youtube > div.content-box { z-index: 3; padding: 100px 30px; position: relative;}
#spc-youtube > div.content-box::after {content: ''; clear: both; display: block;}
#spc-youtube > div.content-box div.title {float: left; width: 33%; }
#spc-youtube > div.content-box p > a {margin: 50px 0;}
#spc-youtube > div.content-box > div.banner-slide {width: 60%; float: right; padding: 0 30px 0 0;}
#spc-youtube > div.content-box > div.banner-slide > div.box {overflow: initial; height: 100%;}

#spc-youtube > div.content-box > div.banner-slide > div.box > ul.slide {}
#spc-youtube > div.content-box > div.banner-slide > div.box > ul.slide > li {width: 29vw; height: 25vw; border-radius: 25px; box-sizing: border-box;}
#spc-youtube > div.content-box > div.banner-slide > div.box > ul.slide > li + li {margin-left: 3vw;}
#spc-youtube div.banner-slide ul.slide > li > div.image {height: 15vw;}
#spc-youtube div.banner-slide ul.slide > li > div.image img {width: 100%;}
#spc-youtube div.banner-slide ul.slide > li > div.text {height: 10vw; background-color: #ffffff; padding: 10px 20px; text-align: center;  position: relative; transition: all 0.4s;}
#spc-youtube div.banner-slide ul.slide > li:hover > div.text {background-color: #1e2432; color: #fff; }
#spc-youtube div.banner-slide  ul.slide > li > div.text  em {font-size: 1vw; font-weight: 700; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: left;}
#spc-youtube  div.banner-slide  ul.slide > li > div.text  p.date {font-size: 0.8vw; text-align: left; margin-top: 2vw; color: #7d7d7d; font-weight: 700;}
#spc-youtube div.banner-slide  ul.slide > li:hover p.date {color: #fff;}
#spc-youtube  div.banner-slide  p.control {position: absolute; left: -250px; bottom: -100px;}
#spc-youtube  div.banner-slide p.control > a {display: block; width: 65px; height: 65px; background-color: #fff; box-shadow: 0 0 40px 0 rgb(0 0 0 / 5%); border-radius: 50%; text-align: center; line-height: 55px; font-size: 25px; float: left; position: relative; transition: all 0.4s;}
#spc-youtube  div.banner-slide p.control > a + a {margin-left: 30px;}
#spc-youtube  div.banner-slide p.control > a::before {content: ''; width: 97px; height: 97px; background-color: #fece00; position: absolute; left: 50%; top: 50%; margin: -49px 0 0 -49px; border-radius: 50%; transform: scale(0); transition: all 0.4s; opacity: 0.2;} 
#spc-youtube  div.banner-slide p.control > a:hover::before {transform: scale(1);}
#spc-youtube  div.banner-slide p.control > a:hover {background-color: #fece00; color: #fff;}

/* spc-sns */
#spc-sns {background: linear-gradient(to top, #edf6fb, #ffffff); padding: 105px 0 115px;}
#spc-sns > div.content-box {position: relative;}
#spc-sns  div.content-box > div.banner-slide {padding: 70px 0; }
#spc-sns  div.content-box > div.banner-slide > div.box {width: 100%; overflow: hidden;}
#spc-sns  div.content-box > div.banner-slide > div.box > ul.slide {overflow: hidden; width: 3000px;}
#spc-sns  div.content-box > div.banner-slide > div.box > ul.slide > li {float: left; text-align: center; padding-bottom: 20px; border-radius: 25px; margin-right: 2.1vw; overflow: hidden; transition: all 0.7s; position: relative; box-sizing: border-box; box-shadow: 5px 5px 3px 5px rgba(216, 217, 218, 0.2); width: 20vw; height: 20vw; transition: all 0.3s; background-color: #fff;} 
#spc-sns  div.content-box > div.banner-slide > div.box > ul.slide > li + li {margin-left: 1.2vw;}
#spc-sns  div.content-box > div.banner-slide > div.box > ul.slide > li:hover {border-radius: 0;}
#spc-sns  div.content-box > div.banner-slide > div.box > ul.slide > li img {width: 100%;}

/* sns-brandslide */
#spc-brandslide {background-color: #fff; padding: 20px 0; border-bottom: 1px solid #ebebeb;}
#spc-brandslide div.banner-slide {position: relative;  background-color: #fff; width: 100%;}
#spc-brandslide div.banner-slide > div.box {background-color: skyblue; box-sizing: border-box; overflow: hidden;}
#spc-brandslide div.banner-slide ul.slide {overflow: hidden; width: 3000px;}
#spc-brandslide div.banner-slide ul.slide > li {float: left; margin-right: 1px; box-sizing: border-box; background-color: pink;}
#spc-brandslide div.banner-slide ul.slide > li img {height: 60px; width: auto;}
#spc-brandslide div.banner-slide p.control > a {font-size: 15px; position: absolute; top: 50%; transform: translateY(-50%);}
#spc-brandslide div.banner-slide p.control > a.on {opacity: 0.3;}
#spc-brandslide div.banner-slide p.control > a.next {right: -50px;}
#spc-brandslide div.banner-slide p.control > a.prev {left: -50px;}












/* media query */
@media only screen and (max-width: 990px) {
  /* spc-group */
  #spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li {width: 45vw; height: 52vw;}
  #spc-group div.content-box > div.banner-slide ul.slide > li p.title {font-size: 15px; padding: 3vw 0 0 7vw; font-weight: 700;}
  #spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.first > a > p > img {width: 32vw;}
  #spc-group div.content-box > div.banner-slide ul.slide > li p.text { position: absolute; left: 0; bottom: 2vw; width: 100%; height: 11vw; box-sizing: border-box; padding: 0 7vw 0 7vw;  font-size: 15px;font-weight: 700; line-height: 1.5; color: #333;} 

  /* spc-brand */
  #spc-brand div.brand-list ul.sub > li {width: 28.5vw; height: 28.5vw;}
  #spc-brand div.brand-list ul.sub > li + li {margin-left: 2.5vw;}
  #spc-brand div.brand-list li div.text {display: none;}

  /* spc-youtube */
  #spc-youtube {}
  #spc-youtube::after {content: ''; width: 360px; height: 125px; ;top: -15px; right: -40px;}
  #spc-youtube > div.content-box {clear: both;}
  #spc-youtube > div.content-box div.title {width: 100%; display: inline-block;}
  #spc-youtube > div.content-box > div.banner-slide {padding: 30px 0 60px; width: 100%; overflow: hidden;}
  #spc-youtube > div.content-box > div.banner-slide > div.box > ul.slide {width: 300000px;}
  #spc-youtube > div.content-box > div.banner-slide > div.box > ul.slide > li {width: 44vw; height: 38vw; border-radius: 15px; box-sizing: border-box;}
  #spc-youtube > div.content-box > div.banner-slide > div.box > ul.slide > li + li {margin-left: 3vw;}
  #spc-youtube div.banner-slide ul.slide > li > div.image {height: 25vw;}
  #spc-youtube div.banner-slide ul.slide > li > div.image img {width: 100%;}
  #spc-youtube div.banner-slide ul.slide > li > div.text {height: 13vw; background-color: #ffffff; padding: 10px 20px; text-align: center;  position: relative; transition: all 0.4s;}
}



/*
#spc-youtube {position: relative;}
#spc-youtube::before {content: ''; width: 40.3%; height: 100%; border-radius: 0 0 50px 0; background-color: #fff0c3; position: absolute;top: 0;left: 0; z-index: -1;}
#spc-youtube::after {content: ''; width: 360px; height: 125px; background: url(/img/main03_bg.png) center no-repeat; background-size: 100%; position: absolute;top: -15px; right: -40px; z-index: -1; }
#spc-youtube > div.content-box { z-index: 3; padding: 100px 50px; position: relative;}
#spc-youtube > div.content-box::after {content: ''; clear: both; display: block;}
#spc-youtube > div.content-box div.title {}
#spc-youtube > div.content-box p > a {margin: 50px 0 0;}
#spc-youtube > div.content-box > div.banner-slide {padding: 0 50px 0 0;}
#spc-youtube > div.content-box > div.banner-slide > div.box {overflow: initial;}

#spc-youtube > div.content-box > div.banner-slide > div.box > ul.slide {padding: 30px 0 60px; width: 300000px;}
#spc-youtube > div.content-box > div.banner-slide > div.box > ul.slide > li {width: 44vw; height: 38vw; border-radius: 15px; box-sizing: border-box;}
#spc-youtube > div.content-box > div.banner-slide > div.box > ul.slide > li + li {margin-left: 2.4vw;}
#spc-youtube div.banner-slide ul.slide > li > div.image {height: 25vw;}
#spc-youtube div.banner-slide ul.slide > li > div.image img {width: 100%;}
#spc-youtube div.banner-slide ul.slide > li > div.text {height: 13vw; background-color: #ffffff; padding: 10px 20px; text-align: center;  position: relative; transition: all 0.4s;}
#spc-youtube div.banner-slide ul.slide > li:hover > div.text {background-color: #1e2432; color: #fff; box-sizing: border-box; }
#spc-youtube div.banner-slide  ul.slide > li > div.text  em {font-size: 2.5vw; font-weight: 700; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: left;}
#spc-youtube  div.banner-slide  ul.slide > li > div.text  p.date {font-size: 1.7vw; text-align: left; margin-top: 2vw; color: #7d7d7d; font-weight: 700;}
#spc-youtube div.banner-slide  ul.slide > li:hover p.date {color: #fff;}
#spc-youtube  div.banner-slide  p.control {position: absolute; left: -250px; bottom: -100px;}
#spc-youtube  div.banner-slide p.control > a {display: block; width: 65px; height: 65px; background-color: #fff; box-shadow: 0 0 40px 0 rgb(0 0 0 / 5%); border-radius: 50%; text-align: center; line-height: 55px; font-size: 25px; float: left; position: relative; transition: all 0.4s;}
#spc-youtube  div.banner-slide p.control > a + a {margin-left: 30px;}
#spc-youtube  div.banner-slide p.control > a::before {content: ''; width: 97px; height: 97px; background-color: #fece00; position: absolute; left: 50%; top: 50%; margin: -49px 0 0 -49px; border-radius: 50%; transform: scale(0); transition: all 0.4s; opacity: 0.2;} 
#spc-youtube  div.banner-slide p.control > a:hover::before {transform: scale(1);}
#spc-youtube  div.banner-slide p.control > a:hover {background-color: #fece00; color: #fff;}*/

/* #spc-youtube {}
#spc-youtube::after {content: ''; width: 360px; height: 125px; ;top: -15px; right: -40px;}
#spc-youtube > div.content-box { clear: both;}
#spc-youtube > div.content-box div.title {width: 100%; background-color: green;}
#spc-youtube > div.content-box > div.banner-slide {background-color: skyblue; width: 100%; clear: right;}
#spc-youtube > div.content-box > div.banner-slide > div.box > ul.slide {padding: 30px 0 60px; width: 300000px;}
#spc-youtube > div.content-box > div.banner-slide > div.box > ul.slide > li {width: 44vw; height: 38vw; border-radius: 15px; box-sizing: border-box;}
#spc-youtube > div.content-box > div.banner-slide > div.box > ul.slide > li + li {margin-left: 2.4vw;}
#spc-youtube div.banner-slide ul.slide > li > div.image {height: 25vw;}
#spc-youtube div.banner-slide ul.slide > li > div.image img {width: 100%;}
#spc-youtube div.banner-slide ul.slide > li > div.text {height: 13vw; background-color: #ffffff; padding: 10px 20px; text-align: center;  position: relative; transition: all 0.4s;} */