@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {background-color: yellow; margin: 0; }
h1, ul, li, p, dl, dt, dd {margin: 0; padding:0;}
img{ margin:0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; margin: 0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.pc {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}

/* common */
body {font-family: 'NotoSansKR', sans-serif; font-size: 14px; color: #000000; background-color: #ffffff;}
#wrapper { max-width: 1023.9px; overflow: hidden; position: relative; margin: 0 auto;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0,0,0,0.8); color : #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;} 
#skip-nav:focus {top: 0;}

/* 틀 */
section > div.content-box {width: 100%;  margin: 0 auto; padding: 0 30px; box-sizing: border-box;}
div.content-box > div.title {}
div.content-box  div.title  h3 {font-size: 48px; margin-bottom: 10px; letter-spacing: -2px;}
div.content-box  div.title  p {font-size: 20px; color: #7d7d7d; font-weight: 700;}
div.content-box > div.banner-slide  > a.btn.white {position: absolute; right: 10px; top: -65px;}

/* header */
#header {position: fixed; left: 0; top: 0; width: 100%; height: 86px; z-index: 100000; background-color: transparent; text-align: center; padding: 0 30px; box-sizing: border-box;}
#header::after {content:''; position: a
  bsolute; left: 0; top: 100%; width: 100%; height: 0px; background-color: #fff;  transition: height 0.3s; border-radius: 0 0 50px 0; z-index: -1; }
#header.on >  div.content-box > #gnb > ul > li > a,
#header.open > div.content-box > #gnb > ul > li > a {color: #333;}
#header.on,
#header.open {background-color: #fff; }

#header.open::after {height: 286px; border-top: 1px solid #f8f8f8;}
#header > div.content-box {width: 100%; height: 100%;  position: relative; box-sizing: border-box; margin: 0 auto;}
#header > div.content-box > h1 {position: absolute; left: 0; top:0; height: 100%;}
#header > div.content-box > h1 > a {display: block;}
#header > div.content-box > h1 > a > span.white-logo {position: absolute; left: 0; top: 0; opacity: 0; transition: opacity 0.3s; }
#header.on > div.content-box > h1 > a > span.white-logo,
#header.open > div.content-box > h1 > a > span.white-logo {opacity: 1;}
#header > div.content-box > h1 > a img {margin-top: 20px; max-width: 115px;}
#header > div.content-box > #gnb {display: none;}
#header div.language-box {display: none;}
#header div.nav-hamburger {height: 100%;  position: absolute; right: 0; top: 0;}
#header div.nav-hamburger > a {display: inline-block; width: 50px; height: 60px; line-height: 86px; position: relative; top: 12px; }
#header div.nav-hamburger > a > span::before,
#header div.nav-hamburger > a > span::after {content: '';}
#header div.nav-hamburger > a > span::before,
#header div.nav-hamburger > a > span::after,
#header div.nav-hamburger > a > span {display: inline-block; width: 35px; height: 3px; background-color: #fff; position: absolute; right: 0;}
#header div.nav-hamburger > a > span {top: 50%; transform: translate(0, -50%);}
#header div.nav-hamburger > a > span::after {top: -10px;}
#header div.nav-hamburger > a > span::before {bottom: -10px;}

/* main */
#main-visual {width: 100%;  margin: 0 auto;  position: relative;}
#main-visual > div.container-box {width: 100%; position: relative; box-sizing: content-box;  overflow: hidden;}
#main-visual > div.container-box::before {content: ''; display: block; width: 100%; height: 120%; background-color: #23afe3; z-index: 35; position: absolute; left: 50%; top: -10%; border-radius: 100%; transform: scaleX(0); -webkit-transition: all 0.5s ease-in-out;}
#main-visual > div.container-box::after {content: ''; display: block; width: 100%; height: 120%; background-color: #1e2432; z-index: 35; position: absolute; left: auto; right: 50%; top: -10%; border-radius: 100%; transform: scaleX(0); -webkit-transition: all 0.5s ease-in-out; }
#main-visual > div.container-box >  div.slide-inner {position: relative;}
#main-visual > div.container-box >  div.slide-inner > p.dummy {}
#main-visual > div.container-box >  div.slide-inner > p.dummy > img {opacity: 0; width: 100%;display: block; }
#main-visual > div.container-box >  div.slide-inner > ul.slide-layers {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}

#main-visual > div.container-box >  div.slide-inner > ul.slide-layers > li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
#main-visual > div.container-box >  div.slide-inner > ul.slide-layers > li img {width: 100%;}
#main-visual > div.container-box >  div.slide-inner > ul.slide-layers > li.on {display: block;}
#main-visual > div.container-box >  div.slide-inner > ul.slide-layers > li.show {animation: show-slide 1s ease 0s 1 normal forwards; display: block;}
#main-visual > div.container-box >  div.slide-inner > ul.slide-layers > li.hide {animation: hide-slide 1s ease 0s 1 normal forwards; display: block;}


@keyframes show-slide {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes hide-slide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

#main-visual > div.container-box >  div.slide-inner > ul.slide-layers > li.on {display: block;} 
#main-visual > div.container-box >  div.slide-inner >  ul.slide-layers > li > img {width: 100%;}

#main-visual > div.container-box > a.prev,
#main-visual > div.container-box  > a.next {display: block; position: absolute; right: 33px; top: 50%; transform: translateY(-50%); width: 46px; height: 46px; border-radius: 100%; border: 1px solid rgba(255, 255, 255, 0.3); background: url(../img/icon_slide_next_w.png) center no-repeat; background-size: 7px; z-index: 100;}

#main-visual > div.container-box > a.prev {visibility: visible; background: url(../img/icon_slide_prev_w.png) center no-repeat; background-size: 7px; left: 33px;}
#main-visual > div.container-box > a:hover {border-color: #fff;}
#main-visual > div.container-box > a.prev:hover::after {transform: translateX(20px);}
#main-visual > div.container-box > a.next:hover::after {transform: translateX(-20px);}
#main-visual > div.container-box.arrow-on-r:before{transform:scaleX(0);}
#main-visual > div.container-box.arrow-go-r:before{transform:scaleX(0.25);}
#main-visual > div.container-box.arrow-on-l:after{transform:scaleX(0);}
#main-visual > div.container-box.arrow-go-l:after{transform:scaleX(0.25); }
#main-visual > div.container-box > ul.indicator {position: absolute; left: 29.5%; bottom: 33%; display: block;  overflow: hidden;}
#main-visual > div.container-box > ul.indicator > li {float: left; margin: 0 10px;}
#main-visual > div.container-box > ul.indicator > li.on > a {opacity: 1; background-color: #fece00;}
#main-visual > div.container-box > ul.indicator > li > a {display: block; width: 8px; height: 8px; border-radius: 500px; background-color: #fff; opacity: 0.5;}
 p.txt-ani > b {display: block; overflow: hidden; line-height: 1.1; 
margin: 0 0 0.2em;}
#main-visual > div.main-text {position: absolute; left: 50%; transform: translateX(-50%); top: 27.8%;}
#main-visual > div.main-text > p.small-txt {color: #fff; letter-spacing: 0;}
#main-visual > div.main-text > p.small-txt .slide-bar {width: 64px; height: 1px; background-color: #fff; display: inline-block; vertical-align: middle; margin: -7px 0 0 25px; overflow: hidden; text-indent: -999px;}
#main-visual > div.main-text p.big-txt {font-size: 40px; font-weight: 800; line-height: 1.2; color: #fff; margin: 0.4em 0;}
#main-visual > div.main-text p.big-txt > b {}
#main-visual > div.main-text p.big-txt > b * {display: block;}
#main-visual > div.main-text.active p.big-txt > b * {animation: text-show 1s ease 0s 1 normal forwards; }
@keyframes text-show {
  from {
    transform: translateY(140%) rotate(5deg);
  }
  to {
    transform: translateY(0) rotate(0);
  }
}

#main-visual > ul.sns {position: absolute; left: 33px; bottom: 18px; z-index: 50;}
#main-visual > ul.sns > li {float: left;}
#main-visual > ul.sns > li + li {margin-left: 8px;}
#main-visual > ul.sns > li > a {display: block; margin-top: 10px; position: relative;}
#main-visual > ul.sns > li > a::after {content:''; width: 100%; height: 100%; background-color: #fece00; position: absolute; left: 0; top: 0; transition: 0.3s; opacity: 0; transform: scale(0.7); border-radius: 100px;}
#main-visual > ul.sns > li > a:hover::after {opacity: 0.2; transform: scale(1);}
#main-visual > ul.sns > li > a > img {width: 46px; position: relative; }





/* spc group */
#spc-group {background-color: #fff; padding: 125px 0 130px;}
#spc-group > div.content-box > div.banner-slide {}
#spc-group > div.content-box > div.banner-slide > div.box { padding-top: 40px; }
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide {display: flex; width: 5000px;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li {background-color: #fff; width: 325px; height: 486px; box-sizing: border-box; box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05); border-radius: 30px; position: relative;  transition: all 0.4s; text-align-last: left; padding-bottom: 0; overflow: hidden;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li + li { margin-left: 30px;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.first {width: 100%; height: 100%; position: relative;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.first > a {display: block;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.first > a > p {}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.first > a > p > img {position: absolute; left: 50%; top: 0; transform: translate(-50%, 0);}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.second {position: absolute;  width: 100%; height: 100%; top: 0; left: 0; transition: all 0.5s; opacity: 0; }
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li:hover > div.first {}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li:hover > div.second {transform: scale(1.3); opacity: 1;} 
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.second img {position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); opacity: 1;} 
#spc-group div.content-box > div.banner-slide ul.slide > li p.title {color: #23AFE3; font-size: 15px; padding: 25px; font-weight: 700;}
#spc-group div.content-box > div.banner-slide ul.slide > li p.text { position: absolute; left: 0; bottom: 20px; width: 100%; height: 120px; box-sizing: border-box; padding: 25px;  font-size: 15px;font-weight: 700; line-height: 1.5; color: #333;} 
#spc-group div.content-box > div.banner-slide ul.slide > li:nth-child(1) p.text { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

@media only screen and (max-width: 990px) {

} 

@media only screen and (max-width: 930px) {
  #spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li {width: 440px; height: 486px;transition: all 0.3s;}
  #main-visual > div.main-text p.big-txt {font-size: 35px;}
  #main-visual > div.container-box > ul.indicator {left: 28%;}
}


/* @media only screen and (max-width: 500px) {
  #spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li {width: 343px; height: 515px; transition: all 0.3s;}
  div.content-box  div.title  h3 {font-size: 32px; margin-bottom: 10px; letter-spacing: -2px;}
  div.content-box  div.title  p {font-size: 14px; color: #7d7d7d; font-weight: 700;}
} */

@media only screen and (max-width: 790px) {
  #main-visual > div.main-text p.big-txt {font-size: 30px;}
  #main-visual > div.container-box > ul.indicator {left: 24%;}
}

/* #spc-group {background-color: #fff; padding: 125px 0 130px;}
#spc-group > div.content-box > div.banner-slide {}
#spc-group > div.content-box > div.banner-slide > div.box { padding-top: 40px; }
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide {display: flex; width: 5000px;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li {background-color: #fff; width: 440px; height: 530px; box-sizing: border-box; box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05); border-radius: 30px; position: relative;  transition: all 0.4s; text-align-last: left; padding-bottom: 0; overflow: hidden;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li + li { margin-left: 30px;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.first {width: 100%; height: 100%; position: relative;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.first > a {display: block;}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.first > a > p {}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.first > a > p > img {position: absolute; left: 50%; top: 0; transform: translate(-50%, 0);}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.second {position: absolute;  width: 100%; height: 100%; top: 0; left: 0; transition: all 0.5s; opacity: 0; }
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li:hover > div.first {}
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li:hover > div.second {transform: scale(1.3); opacity: 1;} 
#spc-group > div.content-box > div.banner-slide > div.box > ul.slide > li > div.second img {position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); opacity: 1;} 
#spc-group div.content-box > div.banner-slide ul.slide > li p.title {color: #23AFE3; font-size: 15px; padding: 25px; font-weight: 700;}
#spc-group div.content-box > div.banner-slide ul.slide > li p.text { position: absolute; left: 0; bottom: 20px; width: 100%; height: 120px; box-sizing: border-box; padding: 25px;  font-size: 15px;font-weight: 700; line-height: 1.5; color: #333;} 
#spc-group div.content-box > div.banner-slide ul.slide > li:nth-child(1) p.text { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;} */


/* spc-brand */
#spc-brand {padding: 110px 0; background-color: #f8f8f8;}
#spc-brand > div.content-box {position: relative;}
#spc-brand div.content-box > ul.indicator {background-color: green;}
#spc-brand ul.indicator > li {float:left;}
#spc-brand ul.indicator > li:hover img {opacity: 1;}
#spc-brand ul.indicator > li:hover > a {color: #000;}
#spc-brand ul.indicator > li.on > a {border-color: #333; color: #333;}
#spc-brand ul.indicator > li.on img {opacity: 1;}
#spc-brand ul.indicator > li a {font-size: 20px; font-weight: 700; border-bottom: 2px solid #d1d1d1; color: #afafaf; min-width: 145px; text-align: center; transition: 0.4s; display: inline-block; padding: 15px; box-sizing: border-box; }
#spc-brand ul.indicator > li img {display: block; width: 34px; margin: 0 auto 5px; opacity: 0.3; transition: 0.4s;}
#spc-brand ul.indicator > li em {}




/* 여기서부터 */
#spc-brand div.brand-list {padding: 70px 0; width: 76vw;  overflow: hidden;  background-color: skyblue;}
#spc-brand div.brand-list ul.sub {position: relative; width: 5000px; box-sizing: border-box; display: none; background-color: green;}

#spc-brand div.brand-list ul.sub::after {content: ''; display: block; clear: both;}
#spc-brand div.brand-list ul.sub.on {display: block; animation: show-slide 1s ease 0s 1 normal forwards;}
#spc-brand div.brand-list ul.sub > li {float: left; position: relative; width: 13.5vw; height:13.5vw; border-radius: 500px; background-color: #fff;  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.01); box-sizing: border-box; transition: all 0.7s; margin-right: 1.8vw; }
/* #spc-brand div.brand-list  ul.sub > li + li {margin-left: 1.8vw;} */
#spc-brand div.brand-list li:last-child {margin-right: 0;}
#spc-brand div.brand-list li div.logo {position: absolute; top: 0; right: 50%; width: 100%; height: 100%; transform: translateX(50%); transition: 0.4s; z-index: 3;}
#spc-brand div.brand-list li div.logo a {display: block; width: 100%; height: 100%;}
#spc-brand div.brand-list li div.logo img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%;}
#spc-brand div.brand-list li:hover .logo {width: 45%; height: 45%;}
#spc-brand div.brand-list li div.text {background: inherit; position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; color: #000; font-size: 0.8vw; border-radius: 50%; opacity: 0; transition: 0.5s; box-sizing: border-box; padding: 5vw 1vw;}
#spc-brand div.brand-list li:hover div.text {opacity: 1; border-radius: 30px;}
#spc-brand div.brand-list > ul.sub > li {}
#spc-brand div.brand-list > ul.sub > li > div.text em {font-size: 1vw; font-weight: 700; display: block;}
#spc-brand div.brand-list > ul.sub > li > div.text em::after {content: '-'; display: block;}
#spc-brand div.brand-list > ul.sub > li > div.text p {}
#spc-brand > div.content-box > p {text-align: center;}