@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {background-color: yellow; margin: 0; }
h1, ul, li, p, dl, dt, dd {margin: 0; padding:0;}
img{margin:0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}

/* common */
body {font-family: 'NEXT ART', sans-serif; font-size: 14px; color: #000000; background-color: #ffffff;}
#wrapper {min-width: 1024px; overflow: hidden; position: relative;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0,0,0,0.8); color : #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;} 
#skip-nav:focus {top: 0;}

/* header */
#header {position: fixed; left: 0; top: 0; width: 100%; height: 86px; z-index: 10000; background-color: transparent; transition: background-color 0.3s; box-sizing: border-box;}
/* #header div.content-box::after {content: ''; position: absolute; left: 0; top: 86px; width: 100%;height: 20px; background-color: lightgreen; border-radius: 0 0 50px 0; z-index: 1;} */
#header div.content-box {max-width: 1786px; height: 100%; margin: 0 auto; position: relative; box-sizing: border-box;}
#header > div.content-box > h1 {position: absolute; left: 0; top: 50%; transform: translate(0, -50%);}

/* header 밑의 메뉴 */
#gnb {position: absolute; left: 50%; top: 0; transform: translate(-50%,0);}
#gnb > ul > li {float: left; padding: 0 1px;  position: relative; transition: border-bottom 0.3s;}
#gnb > ul > li > a:hover {border-bottom: 2px solid #23AFE3; color: #23AFE3;}
#gnb > ul > li:nth-child(4) {padding: 0 29px;}
#gnb > ul > li > a {display: block;   height: 100%; line-height: 86px; font-weight: 700; font-size: 17px; color: #000000; padding: 0 30px; transition: all 0.3s;}
#gnb > ul > li > ul.sub {position: absolute; width: 100%; z-index: 500; padding-top: 20px; display: none;}
#gnb > ul > li > ul.sub > li:hover {color: #23AFE3;}
#gnb > ul > li > ul.sub > li {text-align: center; height: 30px; transition: all 0.3s;}
#gnb > ul > li > ul.sub > li > a {font-weight: 700;}
#gnb > ul > li > ul.sub.move {left:1px;}


/* header 언어 */
#header > div.content-box > a {font-size: 25px; position: absolute; right: 40px; display: block; height: 86px; width: 80px; text-align: center;line-height: 86px;}
#header > div.content-box > ul.language {background-color: yellow; display: none;}

#header > div.bg {background-color: #ffffff; box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2); width: 100%; height: 286px; border-radius: 0 0 50px 0; box-sizing: border-box; display: none;}

/* main */
#main {}
#main-visual {}
#main-visual > div.banner {position: relative; overflow: hidden;}
#main-visual > div.banner p.dummy {opacity: 0;}
#main-visual > div.banner > div.slide-box {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main-visual > div.banner > div.slide-box > ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main-visual > div.banner > div.slide-box > ul.slide > li {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}

#main-visual > div.banner > div.slide-box > div.indicator {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 5;}
#main-visual > div.banner > div.slide-box > div.indicator > ul {position: absolute; bottom: 28%; left: 33%;}
#main-visual > div.banner > div.slide-box > div.indicator > ul > li {display: inline-block; margin-right: 30px; text-indent: -9999px; overflow: hidden;}
#main-visual > div.banner > div.slide-box > div.indicator > ul > li > a {display:block; width: 10px; height: 10px; border-radius: 50px; background-color: #ffffff;}
#main-visual > div.banner > div.slide-box > div.indicator > p.control > a {display: block; position: absolute; top: 50%; transform: translate(0, -50%); font-size: 30px; color: #ffffff; width: 61px; height: 61px; border: 1px solid #ffffff; box-sizing: border-box; border-radius: 100px;}
#main-visual > div.banner > div.slide-box > div.indicator > p.control > a > i {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#main-visual > div.banner > div.slide-box > div.indicator > p.control > a.prev {position: absolute; left: 55px;}    
#main-visual > div.banner > div.slide-box > div.indicator > p.control > a.next {position: absolute; right: 55px;}

#main-visual > div.banner > div.title {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -80%); z-index: 5;}
#main-visual > div.banner > div.title > p {font-weight: 700; font-size: 18px; color: #ffffff; margin-bottom: 40px;}
#main-visual > div.banner > div.title > span {font-weight: 700; font-size: 65px; color: #ffffff; display: inline-block; margin-bottom: 4px;}

#main-visual div.banner > ul.sns {position: absolute;
left: 53px; bottom: 60px; z-index: 5;}
#main-visual div.banner > ul.sns > li  {width: 61px; height: 61px; margin-bottom: 10px;}
#main-visual div.banner > ul.sns > li > a {display: block; width: 100%; height: 100%;}
#main-visual div.banner > ul.sns > li > a > img {width: 61px; height: 61px;}

/* spc group */
#spc-group {}
#spc-group div.content-box {padding: 125px 0 130px; width: 82%; max-width: 1554px; margin: 0 auto;}
#spc-group div.content-box > div.title { margin-bottom: 20px;}
#spc-group div.content-box > div.title > h3 {font-size: 48px; margin-bottom: 5.72px;}
#spc-group div.content-box > div.title > p {font-size: 20px; color: #7d7d7d; font-weight: 700;}
#spc-group div.content-box > div.banner-slide > ul.slide {width: 100%; height: 469px; margin-top: 60px;}
#spc-group div.content-box > div.banner-slide > ul.slide > li {width: calc(25% - 45px); float: left; height: 100%; background-color: #ffffff; position: relative; box-sizing: border-box; border-radius: 50px; box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);}

#spc-group div.content-box > div.banner-slide > ul.slide > li > a {display: block; width: 100%; height: 100%;}
#spc-group div.content-box > div.banner-slide > ul.slide > li > a::after {content: ''; position: absolute; width: 250px; height: 350px; left: 50%; top: 50%; transform: translate(-50%, -50%); background: url('../img/main_group1_crop.png') center center no-repeat; background-size: 250px auto;}

#spc-group div.content-box > div.banner-slide > ul.slide > li:nth-child(1) > a::after {background: url('../img/main_group1_crop.png') center center no-repeat;}
#spc-group div.content-box > div.banner-slide > ul.slide > li:nth-child(2) > a::after {background: url('../img/main_group2_crop.png') center center no-repeat;}
#spc-group div.content-box > div.banner-slide > ul.slide > li:nth-child(3) > a::after {background: url('../img/main_group3_crop.png') center center no-repeat;}
#spc-group div.content-box > div.banner-slide > ul.slide > li:nth-child(4) > a::after {background: url('../img/main_group4_crop.png') center center no-repeat;}


#spc-group div.content-box > div.banner-slide > ul.slide > li p.title {font-size: 20px; font-weight: 700; letter-spacing: 1.5px;  position: absolute; left: 20px;top: 30px; color: #36B4E5;}

#spc-group div.content-box > div.banner-slide > ul.slide > li p.text {padding: 30px 0 30px 20px; position: absolute; left: 0; bottom: 0; width: 100%; box-sizing: border-box; width: 100%;}

#spc-group div.content-box > div.banner-slide > ul.slide > li > a > p.text > em { display: block; font-size: 20px; font-weight: 700; line-height: 1.5;}
#spc-group div.content-box > div.banner-slide > ul.slide > li:not(:last-child) {margin-right: 60px;}
#spc-group div.content-box > div.banner-slide > ul.slide > li::after {content: ''; position: absolute; left: -5%; top: -5%; width: 110%; height: 110%; z-index: 100000; border-radius: 10%; display: none; transition: background 0.9s; background-color: green;}
#spc-group div.content-box > div.banner-slide > ul.slide > li:hover:after {display: block; }
#spc-group div.content-box > div.banner-slide > ul.slide > li:nth-child(1)::after {background: url('../img/main-group1.png') center center no-repeat;}
#spc-group div.content-box > div.banner-slide > ul.slide > li:nth-child(2)::after {background: url('../img/main-group2.png') center center no-repeat;}
#spc-group div.content-box > div.banner-slide > ul.slide > li:nth-child(3)::after {background: url('../img/main-group3.png') center center no-repeat;}
#spc-group div.content-box > div.banner-slide > ul.slide > li:nth-child(4)::after {background: url('../img/main-group4.png') center center no-repeat;}
#spc-group div.content-box > div.banner-slide > ul.slide > li::after:not(:last-child) {margin-right: 10px;} 

/* spc-brand */
#spc-brand {padding: 125px 0 130px; background-color: #f8f8f8;}
#spc-brand div.content-box {width: 82%; max-width: 1554px; margin: 0 auto; background-color: pink; position: relative; padding: 0 50px;}
#spc-brand div.content-box > div.title { margin-bottom: 20px;}
#spc-brand div.content-box > div.title > h3 {font-size: 48px; margin-bottom: 5.72px;}
#spc-brand div.content-box > div.title > p {font-size: 20px; color: #7d7d7d; font-weight: 700;}
#spc-brand div.content-box > dl {background-color: skyblue;}
#spc-brand div.content-box > dl > dt {position: absolute;  top: 0; background-color: skyblue;}
#spc-brand div.content-box > dl > dt img {margin-bottom: 5px;}
#spc-brand div.content-box > dl > dt.bakery {right: 740px;}
#spc-brand div.content-box > dl > dt.dining {right: 510px;}
#spc-brand div.content-box > dl > dt.cafe {right: 280px;}
#spc-brand div.content-box > dl > dt.service {right: 50px;}
#spc-brand div.content-box > dl > dt > a {display: block; padding: 12px; min-width: 230px; text-align: center; box-sizing: border-box; font-size: 18px; font-weight: 700; border-bottom: 2px solid black;}
#spc-brand div.content-box > dl > dt em {display: block;}
#spc-brand div.content-box > dl > dd {}